.select-network{
    width: 100%;

    .select-network-title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 4px;
        margin-left: 10px;
    }

    .select-network-input{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        background: rgba(255, 255, 255, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;

        .select-network-input-img{
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        p{
            font-family: Montserrat Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.6);
        }

        .select-network-input-arrow{
            width: 16px;
            height: 16px;
            margin-left: auto;
        }
    }
}