<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Trial of the Trident</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='node_modules/@ion-phaser/core/dist/ionphaser/ionphaser.esm.js'></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
    @font-face {
      font-family: 'compass';
      src: url('../assets/game-fonts/compass-pro-v1.1/CompassPro.woff');
    }
    html,
    body {
      margin: 0;
      padding: 0;
      background-color: black;
    }
  </style>
</head>

<body>

  <div id="game"></div>
  
</body>

</html>