@use "src/theme.scss";

.button {
    height: 46px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 22px;
    z-index: 7;
    transition: all 150ms;
    border-radius:4px;
    padding: 9px 20px;
    @include theme.medium-shadow();
}

#initialize-button {
    //background-color: transparentize(theme.$saffron, .5);
    //border: 1px solid lighten(theme.$saffron, 25%);
    position: absolute;
    left: auto;
    right: auto;
    bottom: 36%;
    font-weight: bold;
    font-size: 24px;
    color: theme.$black;
    width: 220px;
    height: 60px;
    border: 2px solid #A59507;
    background-color: #F3D448;
    // background-image: url('../../assets/images/game_button.png');
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    
    font-family: 'Cormorant Unicase', serif;
    transition: all 150ms;
    
    &:hover {
        background-color: #FFD723;
        border-color: #ffffff;
        cursor: url('../../assets/cursors/sword-pointer.png'), pointer;
    }
}

.exit-button {
    transition: none;
    background-color: #000000;
    border-radius: 0;
    border: 2px solid #242424;
    padding: 0px;

    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 8;

    &:hover {
        background-color: #1a1a1a;
        border-color: #fff;
        cursor: url('../../assets/cursors/sword-pointer.png'), auto;
    }
}

.disabled {
    display: none !important;
}