@use "src/theme.scss";

.button {
    height: 46px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    font-size: 22px;
    z-index: 7;
    transition: all 150ms;
    border-radius:4px;
    padding: 9px 20px;
    background-color: theme.$dark-gray;
    border: 1px solid theme.$dark-gray-2;
    @include theme.medium-shadow();
}

#initialize-button {
    background-color: transparentize(theme.$saffron, .5);
    border: 1px solid lighten(theme.$saffron, 25%);
    
    &:hover {
        background-color: transparentize(theme.$saffron, .25);
        border-color: theme.$saffron;
        color: theme.$saffron;
    }
}

.exit-button {
    background-color: theme.$black;
    border-color: theme.$dark-gray;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 8;

    &:hover {
        background-color: lighten(theme.$elephant, 10%);
    }
}

.disabled {
    display: none !important;
}