@use "src/theme.scss";

.landing-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .main-wordmark {
        width: 80vw;
        max-width: 800px;
    }

    .landing-main-title-wrap {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 20px;

        p {
            font-family: 'Cormorant Garamond', serif;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            color: #ffffff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            @include theme.text-hard-shadow();
        }
    }

    .landing-main-help-text-wrap {
        text-align: center;
        margin-bottom: 20px;

        p {
            font-family: 'Cormorant Garamond', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #ffffff;
            @include theme.text-hard-shadow();
        }
    }

    .landing-main-btns-wrap {
        display: flex;
        flex-direction: row;
        background-image: url("../../../../assets/images/gritty_green.PNG");
        border-radius: 4px;

        a {
            text-decoration: none;
        }

        .landing-main-btn {
            background-color: transparentize(theme.$deep-sea, 0.3);
            border: 2px solid theme.$psi-aqua;
            color: theme.$psi-foam;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
            padding: 0;
            height: 60px;
            min-width: 300px;
            font-weight: bold;
            font-size: 32px;
            transition: all 150ms;

            &:hover {
                color: #fff;
                border-color: theme.$psi-kelp;
                background-color: transparentize(lighten(theme.$deep-sea, 20%), 0.3);
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .landing-main {
        .landing-main-title-wrap {
            p {
                font-size: 40px;
            }
        }

        .landing-main-help-text-wrap {
            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 465px) {
    .landing-main {
        .landing-main-btns-wrap {
            flex-direction: column;

            .landing-main-btn {
                margin: 15px;
            }
        }
    }
}
