@use "src/theme.scss";

.landing-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .landing-main-title-wrap {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 20px;

        p {
            font-family: Cinzel Bold;
            font-style: normal;
            font-weight: bold;
            font-size: 55px;
            color: #ffffff;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            @include theme.text-hard-shadow();
        }
    }

    .landing-main-help-text-wrap {
        text-align: center;
        margin-bottom: 20px;

        p {
            font-family: Cinzel Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #ffffff;
            @include theme.text-hard-shadow();
        }
    }

    .landing-main-btns-wrap {
        display: flex;
        flex-direction: row;

        a {
            text-decoration: none;
        }

        .landing-main-btn {
            @include theme.primary-button();
            padding: 1rem 2rem;
            margin: 0 1rem;
            min-width: 200px;

            &.secondary {
                background: theme.$platinum;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .landing-main {
        .landing-main-title-wrap {
            p {
                font-size: 40px;
            }
        }

        .landing-main-help-text-wrap {
            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 465px) {
    .landing-main {
        .landing-main-btns-wrap {
            flex-direction: column;

            .landing-main-btn {
                margin: 15px;
            }
        }
    }
}
