.time-menu-root{
  .time-menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 2px;
    width: 200px;
    height: 48px;
    cursor: pointer;
    background: #323232;
    box-shadow: 0 0 10px rgba(44, 39, 109, 0.1);

    p{
      font-family: Roboto Medium, sans-serif;
      font-weight: 600;
      font-size: 18px;
      color: #FFFFFF;
    }
  }
}

.time-menu-popper{
  margin-top: 10px;

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
  }

  /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: #181B1C;
  }

  border-radius: 10px;
  overflow: hidden;
  z-index: 10;

  .tooltip{
    display: flex;
    flex-direction: column;

    .tooltip-item{
      text-decoration: none;
      padding: 13px 20px;
      cursor: pointer;

      &:hover{
          background: rgba(255,255,255,0.1);
      }

      p{
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          text-align: center;
      }
    }

    .add-tokens{
      display: flex;
      flex-direction: column;

      .add-tokens-title{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;

        margin: 5px 0px;
      }
    }

    .divider{
      height: 1px;
      background: #FFFFFF;
      border: none;
    }
  }
}
@media screen and (max-width: 768px){
  .time-menu-root {
    .time-menu-btn {
      width: 170px;
    }
  }
}
@media screen and (max-width: 600px){
  .time-menu-root {
    .time-menu-btn {
      margin-right: 0;
      margin-bottom: 16px;
      width: 100%;
      //max-width: calc(100% - 60px);
    }
  }
}