.calculator-view {
    width: 89%;
    max-width: 833px;
    margin: auto;

    .calculator-card {
        position: relative;
        z-index: 2;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(40px);
        }

        /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: #181B1C;
        }

        border-radius: 2px;
        padding: 24px;
        width: 100%;

        .calculator-card-grid {
            margin: 0;
            width: 100%;
            hr {
                margin-top: 16px;
                width: 100%;
                color: #C4C4C4;
                opacity: 0.6;
            }
        }
        .MuiGrid-spacing-xs-2 > .MuiGrid-item.item-custom {
            padding: 0;
        }

        .calculator-card-header {
            .calculator-card-header-title {
                font-family: Roboto Bold, sans-serif;
                font-weight: bold;
                font-size: 24px;
                color: #FFFFFF;
                margin-bottom: 4px;
            }

            .calculator-card-header-subtitle {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                color: #FFFFFF;
            }
        }

        .calculator-card-metrics {
            display: flex;
            width: 100%;
            padding: 0;
            text-align: center;
            margin-top: 10px;

            .calculator-card-apy,
            .calculator-card-tvl,
            .calculator-card-index {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .calculator-card-metrics-title {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.6);
                    margin-bottom: 6px;
                }

                .calculator-card-metrics-value {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 40px;
                    color: #FFFFFF;
                }
            }
        }

        .calculator-card-area {
            .calculator-card-wallet-notification {
                text-align: center;

                .calculator-card-wallet-connect-btn {
                    background: rgba(255, 255, 255, 0.2);
                    box-shadow: 0 0 10px rgba(44, 39, 109, 0.1);
                    border-radius: 10px;
                    padding: 14px 58px;
                    cursor: pointer;
                    margin: auto;
                    max-width: 280px;
                    margin-top: 20px;

                    p {
                        font-family: Roboto SemiBold, sans-serif;
                        font-weight: 600;
                        font-size: 18px;
                        color: #FFFFFF;
                    }
                }

                .calculator-card-wallet-desc-text {
                    font-family: Roboto Light, sans-serif;
                    font-weight: 300;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.6);
                    margin-top: 10px;
                    margin-bottom: 6px;
                }
            }

            .calculator-card-action-area {
                width: 100%;
                margin-top: 24px;

                .calculator-card-action-area-inp-wrap{
                    .calculator-card-action-area-inp-wrap-title{
                        font-family: Roboto Medium, sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        color: #FFFFFF;
                        margin-bottom: 5px;
                    }

                    .calculator-card-action-input{
                        width: 100%;
                        height: 56px;
            
                        background: #4F4F4F;
                        border: 1px solid #BDBDBD;
                        border-radius: 4px;
                        outline: none;
                        
                        .MuiOutlinedInput-input{
                          font-family: Roboto Medium, sans-serif;
                          font-style: normal;
                          font-weight: 500;
                          font-size: 18px;
                          color: rgba(255, 255, 255, 0.6);
                          padding: 18px 24px;
                        }
                        
                        .MuiOutlinedInput-notchedOutline{
                          border-color: rgba(255, 255, 255, 0.2) !important;
                        }
                        
                        .stake-card-action-input-btn{
                          cursor: pointer;
                            
                          p{
                            font-family: Roboto, sans-serif;
                            font-weight: 500;
                            font-size: 18px;
                            color: #FFFFFF;
                          }
                        }
                      } 
                }
            }

            .calculator-days-slider-wrap{
                margin-top: 24px;

                .calculator-days-slider-wrap-title{
                    font-family: Roboto Medium, sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: #FFFFFF;
                    margin-bottom: 10px;
                }

                .calculator-days-slider{
                    .MuiSlider-rail, .MuiSlider-track{
                        height: 10px;
                    }

                    .MuiSlider-rail{
                        background: #4F4F4F;
                        box-shadow:  0 10px rgba(0, 0, 0, 0.2);
                        border-radius: 10px;
                        border: 1px solid #FFA801;
                    }

                    .MuiSlider-track{
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                    }

                    .MuiSlider-thumb{
                        margin-top: -10px;
                        width: 32px;
                        height: 32px;
                        background: #4F4F4F;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        border: 6px solid #FFA801;
                    }
                }
            }

            .calculator-user-data {
                justify-content: center;
                margin: auto;
                padding: 0 5px;
                margin-top: 12px;
                .grid2 {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 24px;
                    @media screen and (max-width: 768px) {
                        grid-template-columns: 1fr;
                        grid-column-gap: 0px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1240px) {
    .calculator-view {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .calculator-view .calculator-card{
        .calculator-card-metrics {
            .calculator-card-apy .calculator-card-metrics-value,
            .calculator-card-tvl .calculator-card-metrics-value,
            .calculator-card-index .calculator-card-metrics-value{
                font-size: 28px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .calculator-view {
        .calculator-card {
            .calculator-card-metrics {

                .calculator-card-apy,
                .calculator-card-tvl,
                .calculator-card-index {
                    align-items: flex-start;
                }

                .calculator-card {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .calculator-card-area {
                .calculator-card-action-area {
                    .calculator-card-action-row {
                        flex-direction: column;
                    }
                }
            }
        }
    }
    .makeStyles-content-2{
        padding: 0 20px !important;
    }
    .calculator-view .calculator-card{
        padding: 16px !important;
        .calculator-card-header{
            .calculator-card-header-title{
                font-size: 18px;
                line-height: 24px;
            }
            .calculator-card-header-subtitle{
                font-size: 14px;
                line-height: 20px;
            }
        }
        .calculator-card-metrics {
            .calculator-card-apy .calculator-card-metrics-value,
            .calculator-card-tvl .calculator-card-metrics-value,
            .calculator-card-index .calculator-card-metrics-value{
                font-size: 24px;
                line-height: 32px;
            }
        }
        .calculator-card-area {
            .calculator-card-action-area {
                .calculator-card-action-area-inp-wrap .calculator-card-action-input .MuiOutlinedInput-input {
                    padding: 18px 16px;
                }

                .MuiGrid-spacing-xs-3 > .MuiGrid-item {
                    padding: 8px 12px !important;
                }
            }
            .calculator-days-slider-wrap .calculator-days-slider-wrap-title{
                margin-bottom: 8px;
                font-size: 14px;
            }
        }
    }
    .calculator-card-metrics > div > .MuiGrid-grid-sm-4{
        flex-basis: 50% !important;
    }
}