@use "src/theme.scss";

.landing-header {
    padding: 25px 2% 25px 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;

    #logo {
        height: 50px;
        object-fit: contain;
        object-position: center;
    }

    .landing-header-nav-wrap {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: default;

        .landing-header-nav-text {
            font-family: Cinzel Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #ffffff;
            padding-right: 16px;

            &:hover {
                color: #f0bf28;
            }
        }
    }
}
