@use "src/theme.scss";

.landing-header {
    padding: 25px 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;

    #logo {
        height: 50px;
        object-fit: contain;
        object-position: center;
    }

    .landing-header-nav-wrap {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: default;

        .landing-header-nav-text {
            font-family: Cinzel Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #ffffff;
        }
    }
}

.landing-header-poper {
    margin-top: 1rem;
    @include theme.card();
    padding: 0;
    overflow: hidden;
    z-index: 100;

    .tooltip {
        display: flex;
        flex-direction: column;

        .tooltip-item {
            padding: 13px 20px;
            align-items: center;
            display: flex;

            &:hover {
                background: theme.$primary-button-hover;
            }

            p {
                font-family: Cinzel SemiBold;
                font-weight: 600;
                font-size: 1rem;
                line-height: 20px;
                color: #ffffff;
                text-align: center;
                margin-left: 0.7rem;
            }
        }
    }
}
