.landing-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-position: 100%;
    background-image: url("../../../../assets/images/bg2.jpg");
    background-size: cover;
    opacity: 1;

    .landing-background-wrap {
        margin-left: auto;
        margin-top: 90px;
        cursor: default;
        user-select: none;
        z-index: 1;

        p {
            font-family: Courier;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            color: #ffffff;
            white-space: pre-wrap;
            text-align: end;
        }
    }

    .landing-background-blobs-top {
        position: absolute;
        top: 0;
        right: -10vw;
        opacity: 0.2;
        z-index: 1;

        img {
            width: 784px;
            height: 897px;
        }
    }

    .landing-background-blobs-center {
        position: absolute;
        bottom: -30vh;
        left: 0;
        opacity: 0.3;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 770px) {
    .landing-background {
        display: none;
    }
}
