.landing-background{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    .landing-background-wrap{
        margin-left: auto;
        margin-top: 90px;
        cursor: default;
        user-select: none;
        z-index: 1;

        p{
            font-family: Courier;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            color: #FFFFFF;
            white-space: pre-wrap;
            text-align: end;
        }
    }

    .landing-background-blobs-top{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.4;
        z-index: 1;

        img{
            width: 784px;
            height: 897px;
        }
    }

    .landing-background-blobs-center{
        position: absolute;
        bottom: -20vh;
        left: 0;
        opacity: 0.4;
        z-index: 1;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 770px) {
    .landing-background{
        display: none;
    }
}