.charts-container {
    width: 80%;
    min-height: 600px;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
}

.flex-member {
    flex: 1;
    max-width: 600px;
}

.container {
    font-family: Montserrat;
}

.chart-card {
    height: 500px;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    padding: 24px;
    border-radius: 10px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
}