.landing-footer{
    padding: 38px 50px;
    font-family: Roboto, sans-serif;
    background-color: #1b1b1b;
    z-index: 2;

    .landing-footer-item-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .landing-footer-item-title{
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #e0e0e0;
        }
        .social-row svg {
            margin-left: 16px;
        }
        .footer-shown{
            display: none;
        }
        .footer-hidden{
            display: block;
        }
    }
}

@media screen and (max-width: 812px) {
    .landing-footer{
        padding: 38px 30px;
    }
}
@media screen and (max-width: 600px) {
    .landing-footer{
        padding: 38px 50px;
        .landing-footer-item-wrap{
            display: block;
            text-align: center;
            .footer-shown{
                display: block;
            }
            .footer-hidden{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .landing-footer{
        padding: 24px 20px;
        min-width: 280px;
        .landing-footer-item-wrap{
            .landing-footer-item-title{
                margin-top: 12px;
            }
        }
    }
}