.landing-footer{
    padding: 38px 50px;
    font-family: Roboto, sans-serif;
    background-color: #1b1b1b;
    z-index: 2;

    .landing-footer-item-wrap{
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        align-items: center;

        .landing-footer-item-title{
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color: #e0e0e0;
        }
        .social-row svg {
            margin-left: 16px;
        }
    }
}

@media screen and (max-width: 812px) {
    .landing-footer{
        padding: 32px 10%;
    }
}