.dashboard-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  width: 89%;
  max-width: 833px;
  margin: auto;

  .dashboard-infos-wrap{
    .dashboard-card{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      position: relative;
      z-index: 2;

      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(100px);
      }
    
      /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
      @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: #181B1C;
      }

      border-radius: 2px;
      padding: 16px 0;

      .card-title {
        padding-bottom: 6px;
        font-family: Roboto Bold, sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);
      }
  
      .card-value {
        font-family: Roboto Bold, sans-serif;
        font-weight: bold;
        font-size: 36px;
        color: #FFFFFF;
      }
    }
    .MuiGrid-spacing-xs-4 > .MuiGrid-item {
      padding: 12px;
    }
  }
}