@use "src/theme.scss";

.dashboard-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 89%;
    max-width: 833px;

    margin: auto;

    .dashboard-infos-wrap {
        .dashboard-card {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;

            z-index: 2;

            @include theme.card();
            @include theme.card-hover();

            .card-title {
                font-family: Cinzel SemiBold;
                font-size: 1rem;
                color: #ccc;
            }

            .card-value {
                font-family: Cinzel SemiBold;
                font-size: 1.5rem;
                font-weight: bold;
                color: theme.$white;
            }
        }
    }
}
