@use "src/theme.scss";

.dapp-sidebar {
    height: 100vh;
    min-width: 280px;
    display: flex;
    flex-direction: column;

    .branding-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 2rem 0;

        .wallet-link {
            margin: 10px;

            p {
                color: theme.$platinum;
                font-family: Courier;
            }
        }
    }

    .dapp-menu-links {
        display: flex;
        align-items: center;

        .dapp-nav {
            display: flex;
            flex-flow: column;
            width: 100%;

            .button-dapp-menu {
                width: "100%";
                padding: 1rem 1rem;
                display: flex;
                border-radius: 8px;
                margin: 0 1rem;

                .dapp-menu-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    svg > path {
                        fill: theme.$inactive-nav-text;
                    }

                    p {
                        font-weight: 600;
                        font-size: 1rem;
                        color: theme.$inactive-nav-text;
                        font-family: Cinzel;
                        margin-left: 0.5rem;
                    }
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.04);
                }

                &.active {
                    .dapp-menu-item {
                        p {
                            color: theme.$active-nav-text;
                            text-decoration: none;
                            font-family: Cinzel SemiBold;
                        }
                    }
                }
            }

            .bond-discounts {
                padding: 1rem 2rem;

                .bond-discounts--title {
                    color: #ccc;
                }

                a {
                    margin: 1rem 0;
                }

                p {
                    font-family: Cinzel Medium;
                    font-size: 0.75rem;
                    color: theme.$white;
                }

                .bond {
                    display: block;
                    padding: unset;
                    margin-bottom: 0 0 1px 0;
                    text-decoration: none !important;
                    .bond-pair-roi {
                        float: right;
                        margin-left: 33px;
                    }
                }
            }
        }
    }

    .dapp-menu-doc-link {
        margin-top: auto;
        svg > path {
            fill: theme.$inactive-nav-text;
        }
        a {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            p {
                font-weight: 600;
                font-size: 1rem;
                color: theme.$inactive-nav-text;
                font-family: Cinzel;
                margin-left: 0.5rem;
            }
        }
    }

    .social-row {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        padding: 1.3rem;
        a {
            &:hover {
                transform: scale(1.1);
            }
            img {
                height: 20px;
                width: 20px;
            }
        }
    }
}

.MuiDrawer-root {
    .MuiPaper-root {
        z-index: 7;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            background: transparentize(theme.$card-background, 0.5);
            backdrop-filter: blur(20px);
        }

        /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: theme.$card-background;
        }
    }
}
