.dapp-sidebar {
  height: 100vh;
  min-width: 275px;
  display: flex;
  flex-direction: column;

  .branding-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 40px 0 63px 0;

    .wallet-link {
      margin: 10px;
  
      p{
        font-family: "Roboto SemiBold", sans-serif;
        font-size: 14px;
        color: #FFFFFF;
      }
    }
    .mouse-cursor{
      cursor: pointer;
    }
  }

  .dapp-menu-links{
    display: flex;
    align-items: center;

    .dapp-nav {
      display: flex;
      flex-flow: column;

      a {
        margin-top: 20px;
        margin-left: 37px;
        align-items: center;
        margin-bottom: 20px;

        img {
          width: 20px;
          height: 20px;
          margin-right: 15px;
          vertical-align: -4px;
        }
      }

      .button-dapp-menu {
        display: flex;
        justify-content: space-between;
        align-content: center;
        text-decoration: unset;
        .dapp-menu-item{
          display: flex;
          flex-direction: row;
          align-items: center;
        
          p{
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 1px;
            color: #FFFFFF;
            font-family: Roboto SemiBold, sans-serif;
          }
        }
        .dapp-clicked > img {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0;
          width: 8px;
          height: 8px;
        }
        .dapp-clicked-down > img {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0;
          margin-left: 16px;
          width: 24px;
          height: 24px;
        }
      }

      .button-dapp-menu.active {
        .dapp-menu-item{
          p{
            text-decoration: underline;
          }
        }
      }

      .bond-discounts {
        text-align: left;
        padding-left: 70px;
      
        a{
          margin-left: 0;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      
        p{
          font-family: "Roboto Light", sans-serif;
          font-size: 12px;
          line-height: 18px;
          color: rgba(255, 255, 255, 0.6);
        }
        
        .bond {
          display: block;
          padding: unset;
          margin-bottom: 0 0 1px 0;
          text-decoration: none !important;
          .bond-pair-roi {
            float: right;
            margin-left: 33px;
          }
        }
      }
    }
  }

  .dapp-menu-doc-link{
    margin-top: auto;
  }

  .social-row {
    display: flex;
    flex-flow: row;
    justify-content: left;
    padding: 10px 10px 30px 30px;
    a {
      padding-right: 15px;
      &:hover {
        transform: scale(1.1);
      }
      img {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

.MuiDrawer-root{
  .MuiPaper-root{
    z-index: 7;
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      background: rgba(36, 39, 41, 0.1);
      backdrop-filter: blur(40px);
    }
  
    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background: #181B1C;
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      background: #020202;
    }
  }
}
@media screen and (max-width: 600px){
  .dapp-sidebar{
    .branding-header{
      margin: 30px 20px 62px;
      .mobile-shown{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
    .dapp-menu-links{
      width: 100%;
      .dapp-nav{
        width: 100%;
        a{
          margin: 0 8px;
          padding: 10px;
        }
        .bond-discounts{
          a {
            margin-left: 0 !important;
            width: 180px !important;
          }
        }
        .button-dapp-menu{
          margin: 8px 20px;
          width: calc(100% - 40px);
        }
        .button-dapp-menu:hover,
        .active-btn{
          background-color: #1b1b1b !important;
        }
      }
    }
  }
}
