@use "src/theme.scss";

.dapp-sidebar {
    height: 0vh;
    width:100vw;
    display: flex;
    flex-direction: column;
}

.social-row {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left:0; 
    right:0;
    padding-bottom: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: flex-end;

    background: linear-gradient(360deg, #000000 16.92%, rgba(0, 0, 0, 0) 100%);

    .social-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

        .social-link {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-content: top;
            padding: 6px;
            cursor: url('../../assets/cursors/sword-pointer.png'), pointer;
        }
    
        svg {
            width: 18px;
            height: 18px;
            fill: theme.$black;
        }
    
        a {
            &::after{
                position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
                content:url('../../assets/images/social_button_hover.gif');   // load images
            }

            transition: all 200ms;
            background-image: url('../../assets/images/social_button_normal.png');
            background-size: contain;
            background-repeat: no-repeat;
            align-content: top;
            color: theme.$black;
            font-weight: bold;
            line-height: 16px;
            font-size: 18px;
            &:hover {
                background-image: url('../../assets/images/social_button_hover.gif');
                fill: theme.$saffron;
                transform: scale(1.05);
            }
            margin: 8px;
            width:128px;
            height:64px;
        }
    }
}

a {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-weight: 600;
        font-size: 1rem;
        color: theme.$inactive-nav-text;
        font-family: 'Cormorant Garamond', serif;
        margin-left: 0.5rem;
    }
}

.MuiDrawer-root {
    .MuiPaper-root {
        z-index: 7;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            background-color: rgba(0,0,0,0);
        }

        /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background-color: rgba(0,0,0,0);
        }
    }
}
