@use "src/theme.scss";

.dapp-sidebar {
    height: 0vh;
    width:100vw;
    display: flex;
    flex-direction: column;
}

.social-row {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left:0; 
    right:0;

    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;


    .social-link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: top;
        padding: 6px;
    }

    svg {
        width: 18px;
        height: 18px;
        fill: theme.$black;
    }

    a {
        transition: all 200ms;
        background-image: url('../../assets/images/social_button_normal.png');
        background-size: contain;
        background-repeat: no-repeat;
        align-content: top;
        color: theme.$black;
        font-weight: bold;
        line-height: 16px;
        font-size: 18px;
        &:hover {
            background-image: url('../../assets/images/social_button_hover.gif');
            fill: theme.$saffron;
            transform: scale(1.05);
        }
        margin: 8px;
        width:128px;
        height:64px;
    }
}

a {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-weight: 600;
        font-size: 1rem;
        color: theme.$inactive-nav-text;
        font-family: 'Cormorant Garamond', serif;
        margin-left: 0.5rem;
    }
}

.MuiDrawer-root {
    .MuiPaper-root {
        z-index: 7;

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            background-color: rgba(0,0,0,0);
        }

        /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background-color: rgba(0,0,0,0);
        }
    }
}
