.blog-view {
    display: flex;
    overflow: hidden;
  
    width: 95%;
    margin: auto;

    .blog-posts-wrap{
        width: 100%;

        position: relative;
        z-index: 2;

        .blog-posts-title{
            font-family: Montserrat Bold;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: #FFFFFF;
        }

        .blog-posts-container{
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
            grid-column-gap: 20px;
            column-gap: 20px;
        }

        a{
            text-decoration: none;
        }
    }
}