@use "src/theme.scss";

.psi-menu-root {
    .psi-menu-btn {
        padding: 9px 20px;
        background: theme.$secondary-button-background;
        box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
        border-radius: 10px;
        cursor: pointer;
        margin-right: 20px;

        p {
            font-family: Cinzel SemiBold;
            font-weight: 600;
            font-size: 18px;
            color: #ffffff;
        }
    }
}

.psi-menu-popper {
    margin-top: 1rem;
    @include theme.card();
    padding: 0;
    overflow: hidden;
    z-index: 10;

    .tooltip {
        display: flex;
        flex-direction: column;

        .tooltip-item {
            text-decoration: none;
            padding: 13px 20px;
            cursor: pointer;

            &.buy {
                p {
                    font-family: Cinzel Bold;
                }
            }

            &:hover {
                background: theme.$primary-button-hover;
            }

            p {
                font-family: Cinzel SemiBold;
                font-weight: 600;
                font-size: 1rem;
                line-height: 20px;
                color: #ffffff;
                text-align: center;
            }
        }

        .add-tokens {
            display: flex;
            flex-direction: column;

            .add-tokens-title {
                font-family: "Cinzel Light";
                font-size: 14px;
                color: theme.$platinum;
                text-align: center;
                margin: 0.5rem 0;
            }
        }

        .divider {
            height: 1px;
            background: theme.$divider;
            border: none;
        }
    }
}
