.dapp-topbar {
  width: 100%;
  align-items: center;
  margin: auto;
  padding-right:30px;

  &.disabled {
    display: none;
  }

  .dapp-topbar-slider-btn{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 16px;
  }

  .dapp-topbar-btns-wrap{
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 960px) {
  .dapp-topbar{
    .dapp-topbar-slider-btn{
      display: none;
    }
  }
}