.connect-button{
  background: #323232;
  box-shadow: 0 0 10px rgba(44, 39, 109, 0.1);
  border-radius: 2px;
  width: 200px;
  height: 48px;
  text-align: center;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  .connect-button-progress{
    margin-left: 10px;
    margin-top: 4px;
  }

  p{
    font-family: Roboto Medium, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
  }
}
@media screen and (max-width: 768px){
  .connect-button{
    width: 170px;
  }
}
@media screen and (max-width: 600px){
  .connect-button{
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
    //max-width: calc(100% - 60px);
  }
}