@use "src/theme.scss";

.view-base-root {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: theme.$background-color;
    background: linear-gradient(156deg, theme.$gull-gray 0%, theme.$gunmetal 100%);

    .bg-mascot {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-position: 80%;
        background-image: url("../../assets/images/NewBg.jpg");
        background-size: cover;
        opacity: .75;
    }

    .cubes-top {
        opacity: 0.6;
        position: absolute;
        top: -120px;

        p {
            font-family: Courier;
            font-style: normal;
            font-weight: normal;
            font-size: 6px;
            color: #ffffff;
            white-space: pre-wrap;
            user-select: none;
        }
    }

    .cubes-bottom {
        opacity: 0.6;
        position: absolute;
        bottom: -256px;
        right: -140px;

        p {
            font-family: Courier;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: #ffffff;
            white-space: pre-wrap;
            user-select: none;
        }
    }
}
