.chart-root{
    width: "100%";
    display: flex;

    .chart-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        
        .chart{
            max-width: 400px;
        }
    }
}