.landing-root{
    min-height: 100vh;
    background-image: url('../../assets/icons/landing.png');
    background-size: cover;
    display: flex;
    flex-direction: column;

    .landing-main{
        display: flex;
        flex-direction: column;
        align-items: center;

        .landing-main-title-wrap{
            text-align: center;
            margin-top: 80px;
            margin-bottom: 20px;

            p{
                font-family: Montserrat Bold;
                font-style: normal;
                font-weight: bold;
                font-size: 55px;
                color: #FFFFFF;
            }
        }

        .landing-main-help-text-wrap{
            text-align: center;
            margin-bottom: 30px;

            p{
                font-family: Montserrat Medium;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: #FFFFFF;
            }
        }

        .landing-main-btns-wrap{
            display: flex;
            flex-direction: row;

            a{
                text-decoration: none;
            }

            .landing-main-btn{
                margin: 0 15px;
                padding: 14px 26px;
                max-width: 200px;
                background: rgba(255, 255, 255, 0.2);
                box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
                border-radius: 10px;
                cursor: pointer;
                text-align: center;

                p{
                    font-family: Montserrat Semibold;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .landing-root{
        background-image: url("../../assets/icons/background.png");
    }
}

@media screen and (max-width: 560px) {
    .landing-root{
        .landing-main{
            .landing-main-title-wrap{
                p{
                    font-size: 40px;
                }
            }   
            
            .landing-main-help-text-wrap{
                p{
                    font-size: 16px;
                }
            }
        }
    }
}


@media screen and (max-width: 465px) {
    .landing-root{
        .landing-main{
            .landing-main-btns-wrap{
                flex-direction: column;

                .landing-main-btn{
                    margin: 15px;
                }
            }
        }
    }
}