// COLORS
$bermuda-gray: #6a8fa5;
$gull-gray: #92aeb3;
$outer-space: #2c3133;
$akaroa: #dbcdac;
$elephant: #081825;
$anzac: #d9a849;
$saffron: #f0bf28;
$lynch: #5d7287;
$granite-green: #8c8c6c;
$columbia-blue: #cce6f4;
$platinum: #e2e2e2;
$smoky-black: #0d0801;
$gunmetal: #1e2a38;
$indigo-dye: #2a486e;

// THEME
$background-color: $elephant;
$black: #232323;
$white: #fcfcfc;

// COMPONENTS
$primary-button-hover: $bermuda-gray;
$secondary-button-background: $indigo-dye;
$active-nav-background: $indigo-dye;
$active-nav-text: $white;
$inactive-nav-text: $platinum;
$card-background: $elephant;
$divider: $bermuda-gray;

// GLOBAL RULES
a:hover {
    text-decoration: none !important;
}

// MIXINS
@mixin soft-shadow {
    box-shadow: transparentize($smoky-black, 0.8) 0px 1px 4px;
}

@mixin medium-shadow {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@mixin text-hard-shadow {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

@mixin transition {
    transition: all 0.4s ease;
}

@mixin card {
    @include soft-shadow();

    border-radius: 12px;
    padding: 2rem;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        background: transparentize($card-background, 0.5);
        backdrop-filter: blur(20px);
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: $card-background;
    }
}

@mixin card-hover {
    @include transition();

    &:hover {
        @include medium-shadow();
        transform: translate(0, -1px);
    }
}

@mixin primary-button {
    cursor: pointer;
    transition: all 0.4s ease;
    background: $saffron;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 10px;
    text-align: center;
    padding: 0 1rem;
    @include card-hover();

    &:hover {
        background: lighten($saffron, 5%);
    }

    p {
        color: $black;
        font-family: Cinzel Semibold;
        font-weight: 600;
        font-size: 1rem;
    }
}

@mixin input {
    background: transparentize($saffron, 0.75);
    border: 1px solid $saffron;
    border-radius: 10px;
    outline: none;
    height: 48px;

    input {
        font-family: Cinzel Semibold;
        font-weight: 600;
        font-size: 1rem;
        padding: 0 1rem;
        color: $white;
    }
}
