// COLORS
$bermuda-gray: #6a8fa5;
$gull-gray: #92aeb3;

$dark-gray: #111111;
$dark-gray-2: #222222;

$deep-sea: #132217;
$psi-aqua: #335b54;
$psi-kelp: #657c60;
$psi-grass: #b0ae70;
$psi-foam: #ffe7bc;

$psi-yellow: #FFe987;
$psi-mint: #2d8e7c;

$outer-space: #2c3133;
$akaroa: #dbcdac;
$elephant: #081825;
$anzac: #d9a849;
$saffron: #f0bf28;
$lynch: #5d7287;
$granite-green: #8c8c6c;
$columbia-blue: #cce6f4;
$platinum: #e2e2e2;
$murky-black: hsl(150, 25%, 3%);
$gunmetal: #1e2a38;
$indigo-dye: #2a486e;

// THEME
$background-color: $murky-black;
$black: #0e0e0e;
$white: #fcfcfc;

// COMPONENTS
$primary-button-hover: $bermuda-gray;
$secondary-button-background: $indigo-dye;
$active-nav-background: $indigo-dye;
$active-nav-text: $white;
$inactive-nav-text: $platinum;
$card-background: $murky-black;
$divider: $bermuda-gray;

// GLOBAL RULES
a:hover {
    text-decoration: none !important;
}

// MIXINS
@mixin soft-shadow {
    box-shadow: transparentize($murky-black, 0.8) 0px 1px 4px;
}

@mixin medium-shadow {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 18px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@mixin text-hard-shadow {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

@mixin transition {
    transition: all 0.2s ease;
}

@mixin card {
    @include soft-shadow();

    border: 1px solid $dark-gray;
    border-radius: 6px;
    padding: 2rem;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        background-color: $card-background;
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background-color: $card-background;
    }
}

@mixin card-hover {
    @include transition();

    &:hover {
        @include medium-shadow();
    }
}

@mixin primary-button {
    cursor: pointer;
    transition: all 0.4s ease;
    background: $deep-sea;
    border: 1px solid $psi-aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 3px;
    text-align: center;
    padding: 0 1rem;
    @include card-hover();

    &:hover {
        background: lighten($deep-sea, 2%);
    }

    p {
        color: $white;
        font-family: 'Syne Mono', monospace;
        font-weight: 600;
        font-size: 1rem;
    }
}

@mixin input {
    background-color: $dark-gray;
    border: 1px solid $dark-gray-2;
    border-radius: 3px;
    outline: none;
    height: 48px;

    input {
        font-family: 'Syne Mono', monospace;
        font-weight: 600;
        font-size: 1rem;
        padding: 0 1rem;
        color: $white;
    }
}
