@font-face {
    font-family: "Cinzel SemiBold";
    src: local("Cinzel SemiBold"), url("../fonts/Cinzel-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Cinzel";
    src: local("Cinzel"), url("../fonts/Cinzel-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cinzel Bold";
    src: local("Cinzel Bold"), url("../fonts/Cinzel-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Cinzel Medium";
    src: local("Cinzel Medium"), url("../fonts/Cinzel-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Cinzel Light";
    src: local("Cinzel Light"), url("../fonts/Cinzel-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Courier";
    src: local("Courier"), url("../fonts/CourierPrime-Regular.ttf") format("truetype");
}
