@use "src/theme.scss";

.mobile-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: theme.$deep-sea;
    z-index: 10000;
    color: #FFFFFF;

    p {
        font-size: 20px;
        margin-bottom: 6px;
    }

    .mbl-subtext {
        font-size: 18px;
        color: lighten(theme.$bermuda-gray, 20%);
    }

    .mobile-text-wrap {
        margin-top: 20px;
    }

    .mobile-flex-container {
        width: 100%;
        height: 100%;
        padding: 0 8vw;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile-btn-wrap {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .mbl-button {
            @include theme.primary-button;
            @include theme.soft-shadow;
            width: 49%;
            p {
                font-size: 24;
            }
        }
    }
    
    .mobile-wordmark {
        width: 100%;
    }

    .mobile-header {
        padding: 20px 8vw;
        img {
            height: 40px;
        }
        position:absolute;
        top: 0;
        width: 100vw;
        height: 80px;
        z-index: 11;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .header-nav-text {
            font-family: 'Cormorant Garamond', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            color: rgba(255,255,255,0.6);
            margin-left: 16px;
            padding-bottom: 6px;
            border-bottom: 2px solid rgba(0,0,0,0);
            transition: all 150ms;

            &:hover {
                color: #fff;
                border-bottom: 2px solid #fff;
            }
        }

        .header-nav-box {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    
    }
}